<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Szukaj <span class="appTitle">Pracy</span>!
                </h1>
                <p style="text-align:center;">
                    <!-- LISTA FIRM -->
                    <%
                        if (jobs.length > 0) {
                            for (j in jobs)
                            {
                    %>
                                <div class="firm">
                                    <nav><%= jobs[j].workstation %> in <%= jobs[j].company%></nav>
                                    <nav>
                                        <%
                                            if (jobs[j].image != null) {
                                        %>
                                             <img    src="data:image/jpeg;base64,<%= jobs[j].image %>"
                                                     width="375px">
                                        <%
                                            }
                                        %>
                                        <br/><br/>
                                    </nav>
                                    <nav>
                                        <strong>Opis:</strong>
                                        <%= jobs[j].workstation_description %>
                                    </nav>
                                    <nav>
                                        <strong>Email stanowiska:</strong>
                                        <a href="mailto:<%= jobs[j].workstation_email %>">
                                            <%= jobs[j].workstation_email %>
                                        </a>
                                    </nav>
                                    <nav>
                                        <strong>Adres stanowiska:</strong>
                                        <%= jobs[j].street %> <%= jobs[j].house_number %>,
                                        <%= jobs[j].zip_code %> <%= jobs[j].city %>,
                                        <%= jobs[j].country %>
                                    </nav>
                                    <nav>
                                        <strong>Email firmy:</strong>
                                        <a href="mailto:<%= jobs[j].company_email %>">
                                            <%= jobs[j].company_email %>
                                        </a>
                                    </nav>
                                    <nav>
                                        <strong>WWW:</strong>
                                        <a href="http://<%= jobs[j].website %>">
                                            <%= jobs[j].website %>
                                        </a>
                                    </nav>
                                    <nav>
                                        <button class="btn btn-success"
                                                onclick="location.replace('/addWorker/<%= jobs[j].id %>/<%= user.id %>')">
                                            <span class="glyphicon glyphicon-check"></span>
                                            Aplikuj
                                        </button>
                                    </nav>
                                </div>
                    <%
                            }
                        } else {
                    %>
                            Brak Firm.
                    <%
                        }
                    %>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
