<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Profil Firmy
                    <span class="appTitle"><%= user.name %></span>!
                </h1>

                <h3>Dzień dobry, szefie!</h3>
                <p>
                    Kierowniku, jesteś zalogowany jako
                    <strong><%= user.name %></strong>.
                    Jest to Firma, którą aktualnie zarządzasz.
                    Poniżej znajdziesz wszystkie informacje, które dodałeś do
                    profilu swojej firmy.<br/>
                    <br/>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Zadbaj o to, aby każda widoczna informacja o firmie
                    była aktualna. Ułatwi to zarówno pracownikom dotarcie
                    do Twojej firmy, jak i Tobie sprawnie przeprowadzić proces
                    rekrutacji bez zbędnych nieporozumień.
                </p>

                <p>
                    <h4 class="tableHeader">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        Dane Firmy
                    </h4>
                    <p>
                        <table class="listTable">
                            <tr>
                                <th>Nazwa</th>
                                <th>Specjalizacja</th>
                                <th>Opis</th>
                                <th>Email</th>
                                <th>WWW</th>
                            </tr>
                            <tr>
                                <td><%= user.name %></td>
                                <td><%= user.specialization %></td>
                                <td><%= user.description %></td>
                                <td>
                                    <a href="mailto:<%= user.email %>">
                                        <%= user.email %>
                                    </a>
                                </td>
                                <td>
                                    <a href="http://<%= user.website %>">
                                        <%= user.website %>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </p>
                </p>

                <h4 class="tableHeader">
                    <span class="glyphicon glyphicon-user"></span>
                    Pracownicy
                </h4>
                <p>
                    <table class="listTable">
                        <tr>
                            <th>L.P.</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Stanowisko</th>
                            <th>W firmie od</th>
                            <th>E-mail</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
