<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Profil
                    <span class="appTitle">
                        <%= user.email.split("@")[0] %>
                    </span>!
                </h1>

                <h3>Uszanowanie, <%= user.first_name %>!</h3>
                <p>
                    Pracowniku, aktualnie jesteś zalogowany jako
                    <strong><%= user.first_name %> <%= user.last_name %></strong>.
                    Poniżej znajdziesz wszystkie informacje, które dodałeś do
                    swojego profilu.<br/>
                    <br/>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Zadbaj o to, aby każda podana przez Ciebie informacja
                    była aktualna. Ułatwi to zarówno pracodawcom dotarcie
                    do Ciebie, jak i Tobie sprawnie przeprowadzić proces
                    rekrutacji bez zbędnych nieporozumień.
                </p>

                <h4 class="tableHeader">
                    <span class="glyphicon glyphicon-user"></span>
                    Dane Pracownika
                    <button id="editPersonals"
                            class="btn btn-primary"
                            style="width:150px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span id="editPersonalsLabel">Edytuj</span>
                    </button>
                </h4>
                <p>
                    <table class="listTable">
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Data urodzenia</th>
                            <th>Numer telefonu</th>
                            <th>E-mail</th>
                            <!-- <th>Hasło</th> -->
                        </tr>
                        <tr>
                            <td><%= user.first_name %></td>
                            <td><%= user.last_name %></td>
                            <td class="date">
                                <%
                                    var bdate = new Date(user.birth);
                                    var day = bdate.getDate();
                                    var month = bdate.getMonth()+1;
                                    const year = bdate.getFullYear();

                                    if (day < 10) day = "0" + day;
                                    if (month < 10) month = "0" + month;

                                    const date = day + "." + month + "." + year;
                                %>
                                <%= date %>
                            </td>
                            <td><%= user.phone_number %></td>
                            <td>
                                <a href="mailto:<%= user.email %>">
                                    <%= user.email %>
                                </a>
                            </td>
                            <!-- <td>**********</td> -->
                        </tr>
                    </table>
                </p>

                <div id="personalsInsertion" class="insertionBox hideMe">
                    <form action="/employee/update" method="POST">
                        <table>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Data urodzenia</th>
                                <th>Numer telefonu</th>
                                <th>
                                    E-mail
                                    <abbr title="E-mail to Twój login, pamiętaj o tym podczas jego zmiany.">
                                        <span class="glyphicon glyphicon-exclamation-sign">
                                    </abbr>
                                </th>
                            </tr>
                            <tr>
                                <input  type="text"
                                        name="id"
                                        value="<%= user.id %>"
                                        style="width:100%;"
                                        hidden/>
                                <td>
                                    <input  type="text"
                                            name="first_name"
                                            value="<%= user.first_name %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="last_name"
                                            value="<%= user.last_name %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="date"
                                            name="birth"
                                            value="<%= user.birth.getFullYear() %>-<%= ('0' + user.birth.getMonth()+1).slice(-2) %>-<%= ('0' + user.birth.getDate()).slice(-2) %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="phone_number"
                                            value="<%= user.phone_number %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="email"
                                            name="email"
                                            value="<%= user.email %>"
                                            style="width:100%;"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=5>
                                    <marquee>Edycja danych w toku...</marquee>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=5>
                                    <button id="saveNewPersonals"
                                            class="btn btn-success"
                                            type="submit">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>
                                        Zapisz nowe dane
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <h4 class="tableHeader">
                    <span class="glyphicon glyphicon-home"></span>
                    Adres Pracownika
                    <button id="editAdres"
                            class="btn btn-primary"
                            style="width:150px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span id="editAdresLabel">Edytuj</span>
                    </button>
                </h4>
                <p>
                    <table class="listTable">
                        <tr>
                            <th>Kraj</th>
                            <th>Miasto</th>
                            <th>Ulica</th>
                            <th>Nr domu</th>
                            <th>Kod pocztowy</th>
                        </tr>
                        <tr>
                            <%
                                let adresAvailable = false;
                                for (var item in adres) {
                                    if (adres[item] !== null && adres[item] != "")
                                        adresAvailable = true;
                                }

                                if (adresAvailable) {
                            %>
                                <td><%= adres.country %></td>
                                <td><%= adres.city %></td>
                                <td><%= adres.street %></td>
                                <td><%= adres.house_number %></td>
                                <td><%= adres.zip_code %></td>
                            <%
                                } else {
                            %>
                                <td colspan=5 style="text-align:center;">
                                    Nie podano adresu.
                                </td>
                            <%
                                }
                            %>
                        </tr>
                    </table>
                </p>

                <div id="adresInsertion" class="insertionBox hideMe">
                    <form action="/adres/update" method="POST">
                        <table>
                            <tr>
                                <th>Kraj</th>
                                <th>Miasto</th>
                                <th>Ulica</th>
                                <th>Nr domu</th>
                                <th>Kod pocztowy</th>
                            </tr>
                            <tr>
                                <input  type="text"
                                        name="adres_id"
                                        value="<%= user.id_adres %>"
                                        style="width:100%;"
                                        hidden/>
                                <td>
                                    <input  type="text"
                                            name="country"
                                            value="<%= adres.country %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="city"
                                            value="<%= adres.city %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="street"
                                            value="<%= adres.street %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="house_number"
                                            value="<%= adres.house_number %>"
                                            style="width:100%;"/>
                                </td>
                                <td>
                                    <input  type="text"
                                            name="zip_code"
                                            value="<%= adres.zip_code %>"
                                            style="width:100%;"/>
                                </td>
                                <input  type="text"
                                        name="is_company"
                                        value="<%= adres.is_company %>"
                                        style="width:100%;"
                                        hidden/>
                            </tr>
                            <tr>
                                <td colspan=5>
                                    <marquee>Edycja adresu w toku...</marquee>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=5>
                                    <button id="saveNewAdres"
                                            class="btn btn-success"
                                            type="submit">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>
                                        Zapisz nowy adres
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <br/>

                <div style="width: 100%">
                    <iframe width="100%"
                            height="150px"
                            src="https://maps.google.com/maps?width=100%&amp;height=150&amp;hl=en&amp;q=<%= adres.street %><%= adres.house_number %><%= adres.zip_code %><%= adres.city %><%= adres.country%>+&amp;ie=UTF8&amp;t=h&amp;z=16&amp;iwloc=B&amp;output=embed"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0">
                    </iframe>
                </div>

                <h4 class="tableHeader">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    Informacje o zatrudnieniu
                </h4>
                <p>
                    <table class="listTable">
                    <tr>
                        <th>L.P.</th>
                        <th>Firma</th>
                        <th>Data zatrudnienia</th>
                        <th>Data zwolnienia</th>
                        <th>Opis</th>
                    </tr>
                    <%
                        if (workHistory != undefined) {
                            for (wh in workHistory) {
                    %>
                            <tr>
                                <td>tmp_nothing</td>
                                <td>tmp_nothing</td>
                                <td class="date">tmp_nothing</td>
                                <td class="date">tmp_nothing</td>
                                <td>tmp_nothing</td>
                            </tr>
                    <%
                            }
                        } else {
                    %>
                            <tr>
                                <td colspan=5 style="text-align:center;">
                                    Brak.
                                </td>
                            </tr>
                    <%
                        }
                    %>
                    </table>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
