<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Lista <span class="appTitle">Firm</span>!
                </h1>
                <p style="text-align:center;">
                    <!-- LISTA FIRM -->
                    <table class="listTable">
                    <%
                        if (firms.length > 0) {
                    %>
                        <tr>
                            <th>L.P.</th>
                            <th>Nazwa</th>
                            <th>Specjalizacja</th>
                            <th>Opis</th>
                            <th>Email</th>
                            <th>WWW</th>
                            <th>Usuń</th>
                        </tr>
                    <%
                            for (f in firms)
                            {
                    %>
                                <tr>
                                    <td><%= parseInt(f)+1 %></td>
                                    <td><%= firms[f].name %></td>
                                    <td><%= firms[f].specialization %></td>
                                    <td><%= firms[f].description %></td>
                                    <td>
                                        <a href="mailto:<%= firms[f].email %>">
                                            <%= firms[f].email %>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="http://<%= firms[f].website %>">
                                            <%= firms[f].website %>
                                        </a>
                                    </td>
                                    <td>
                                        <button id="<%= firms[f].id %>"
                                                class="btn btn-danger"
                                                onclick="confirmDeletion(this.id)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                    <%
                            }
                        } else {
                    %>
                            Brak Firm.
                    <%
                        }
                    %>
                        <!-- fragment skryptu, tymczasowo na widoku -->
                        <script>
                            const confirmDeletion = (id) => {
                                const decision = confirm("Czy na pewno chcesz usunąć ten rekord?");
                                if (decision == true) location.replace("/company/remove/" + id);
                            };
                        </script>
                    </table>
                    <div class="insertionBox">
                        <form action="/company/add" method="POST">
                            <table>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Specjalizacja</th>
                                    <th>Opis</th>
                                    <th>E-mail</th>
                                    <th>WWW</th>
                                </tr>
                                <tr>
                                    <td><input name="name" type="text"/></td>
                                    <td><input name="specialization" type="text"/></td>
                                    <td><input name="description" type="text"/></td>
                                    <td><input name="email" type="email"/></td>
                                    <td><input name="website" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
