<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Lista <span class="appTitle">Stanowisk</span>!
                </h1>
                <p style="text-align:center;">
                    <!-- LISTA STANOWISK -->
                    <table class="listTable">
                    <%
                        if (workstations.length > 0) {
                    %>
                        <tr>
                            <th>L.P.</th>
                            <th>Logo</th>
                            <th>Firma</th>
                            <th>Stanowisko</th>
                            <th>Numer telefonu</th>
                            <th>E-mail</th>
                            <th>Limit</th>
                            <th>Opis</th>
                            <th>Adres</th>
                        </tr>
                    <%
                            for (w in workstations)
                            {
                    %>
                                <tr>
                                    <td><%= parseInt(w)+1 %></td>
                                    <td>
                                        <%
                                            if (workstations[w].image != null) {
                                        %>
                                            <img    src="data:image/jpeg;base64,<%= workstations[w].image %>"
                                                    width="50">
                                        <%
                                            } else {
                                        %>
                                            <img src="/images/unknown/unknown_company.gif" width="50">
                                        <%
                                            }
                                        %>
                                    </td>
                                    <td><%= workstations[w].company_name %></td>
                                    <td><%= workstations[w].workstation_name %></td>
                                    <td><%= workstations[w].phone_number %></td>
                                    <td>
                                        <a href="mailto:<%= workstations[w].email %>">
                                            <%= workstations[w].email %>
                                        </a>
                                    </td>
                                    <td><%= workstations[w].limit %></td>
                                    <td><%= workstations[w].description %></td>
                                    <td>
                                        <%=
                                            workstations[w].street + " " +
                                            workstations[w].house_number + ", " +
                                            workstations[w].zip_code + " " +
                                            workstations[w].city + ", " +
                                            workstations[w].country;
                                        %>
                                    </td>
                                </tr>
                    <%
                            }
                        } else {
                    %>
                            Brak Stanowisk.
                    <%
                        }
                    %>
                    </table>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
