<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Lista <span class="appTitle">Historii Zatrudnienia</span>!
                </h1>
                <p style="text-align:center;">
                    <!-- LISTA HISTORII ZATRUDNIENIA -->
                    <table class="listTable">
                    <%
                        if (workHistory.length > 0) {
                    %>
                        <tr>
                            <th>L.P.</th>
                            <th>Foto</th>
                            <th>Pracownik</th>
                            <th>Logo</th>
                            <th>Firma</th>
                            <th>Data zatrudnienia</th>
                            <th>Data zwolnienia</th>
                            <th>Opis</th>
                        </tr>
                    <%
                            for (wh in workHistory)
                            {
                    %>
                                <tr>
                                    <td><%= parseInt(wh)+1 %></td>
                                    <td>
                                        <%
                                            if (workHistory[wh].employee_image != null) {
                                        %>
                                             <img    src="data:image/jpeg;base64,<%= workHistory[wh].employee_image %>"
                                                     width="50">
                                        <%
                                            }
                                        %>
                                    </td>
                                    <td><%= workHistory[wh].first_name + " " + workHistory[wh].last_name %></td>
                                    <td>
                                        <%
                                            if (workHistory[wh].company_image != null) {
                                        %>
                                             <img    src="data:image/jpeg;base64,<%= workHistory[wh].company_image %>"
                                                     width="50">
                                        <%
                                            }
                                        %>
                                    </td>
                                    <td><%= workHistory[wh].company %></td>
                                    <td class="date"><%= workHistory[wh].from %></td>
                                    <td class="date"><%= workHistory[wh].to %></td>
                                    <td><%= workHistory[wh].description %></td>
                                </tr>
                    <%
                            }
                        } else {
                    %>
                            Brak Historii Zatrudnienia.
                    <%
                        }
                    %>
                    </table>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
