<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Stwórz swój <span class="appTitle">życiorys zawodowy</span>!
                </h1>

                <div id="cvPanel">
                    <h3 style="border-bottom:1px solid silver;">
                        <span style="font-family:'Sofia';font-size:32px;">
                            Curriculum Vitae
                        </span>
                    </h3>

                    <!-- DANE PERSONALNE -->
                    <h4 id="personalTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-user"></span>
                        Dane personalne
                        <span id="personalGlyph" class="glyphicon glyphicon-chevron-down"></span>
                        <div class="info">
                            Edycja danych personalnych nie jest dostępna z poziomu CV.
                            Jeżeli chcesz dokonać ich edycji udaj się na swój profil użytkownika.
                        </div>
                    </h4>
                    <table id="cvTable" class="personalTable">
                      <tr>
                        <th>Dana</th>
                        <th>Wartość</th>
                      </tr>
                      <tr>
                        <td>Imię</td>
                        <td><%= user.first_name %></td>
                      </tr>
                      <tr>
                        <td>Nazwisko</td>
                        <td><%= user.last_name %></td>
                      </tr>
                      <tr>
                        <td>Data urodzenia</td>
                        <td class="date"><%= user.birth %></td>
                      </tr>
                      <tr>
                        <td>Telefon</td>
                        <td><%= user.phone_number %></td>
                      </tr>
                      <tr>
                        <td>E-mail</td>
                        <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                      </tr>
                      <tr>
                          <td>Adres</td>
                          <td>
                              <%= adres.street %> <%= adres.house_number %><br/>
                              <%= adres.zip_code %> <%= adres.city %> <br/>
                              <%= adres.country %>
                          </td>
                      </tr>
                    </table>

                    <!-- DOŚWIADCZENIE -->
                    <h4 id="expTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-flag"></span>
                        Doświadczenie
                        <nav class="count">0</nav>
                        <span id="expGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="expTable">
                        <tr>
                            <th>Zakres</th>
                            <!-- <th>Stanowisko</th> -->
                            <th>Firma</th>
                            <th>Usuń</th>
                        </tr>
                    <%
                        var expCount = 0;
                        if (skills.length > 0) {
                            for (s in skills) {
                                if (skills[s].type == "Experience") {
                                    expCount++;
                    %>
                                <tr>
                                    <td>
                                        <nav class="date"><%= skills[s].from %></nav>
                                        -
                                        <nav class="date"><%= skills[s].to %></nav>
                                    </td>
                                    <!-- <td></td> -->
                                    <td><%= skills[s].name %></td>
                                    <td>
                                        <button class="btn btn-danger"
                                                onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                            <span class="glyphicon glyphicon-remove">
                                        </button>
                                    </td>
                                </tr>
                    <%
                                }
                            }
                        }

                        if (expCount == 0) {
                    %>
                            <tr>
                                <td colspan=2 style="text-align:center;font-weight:normal;">
                                    Brak informacji o doświadczeniu zawodowym.
                                </td>
                            </tr>
                    <%
                        }
                    %>
                    </table>
                    <div id="cvTable" class="insertionBox expTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Od</th>
                                    <th>Do</th>
                                    <th>Firma</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <input name="type" type="text" value="Experience" hidden/>
                                    <td><input name="from" type="date"/></td>
                                    <td><input name="to" type="date"/></td>
                                    <td><input name="name" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- WYKSZTAŁCENIE -->
                    <h4 id="eduTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-education"></span>
                        Wykształcenie
                        <nav class="count">0</nav>
                        <span id="eduGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="eduTable">
                        <tr>
                            <th>Zakres</th>
                            <th>Kierunek</th>
                            <th>Uczelnia</th>
                            <th>Usuń</th>
                        </tr>
                        <%
                            var eduCount = 0;
                            if (skills.length > 0) {
                                for (s in skills) {
                                    if (skills[s].type == "Education") {
                                        eduCount++;
                        %>
                                    <tr>
                                        <td>
                                            <nav class="date"><%= skills[s].from %></nav>
                                            -
                                            <nav class="date"><%= skills[s].to %></nav>
                                        </td>
                                        <td><%= skills[s].name %></td>
                                        <td><%= skills[s].description %></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                                <span class="glyphicon glyphicon-remove">
                                            </button>
                                        </td>
                                    </tr>
                        <%
                                    }
                                }
                            }

                            if (eduCount == 0) {
                        %>
                                <tr>
                                    <td colspan=3 style="text-align:center;font-weight:normal;">
                                        Brak informacji o wykształceniu.
                                    </td>
                                </tr>
                        <%
                            }
                        %>
                    </table>
                    <div id="cvTable" class="insertionBox eduTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Od</th>
                                    <th>Do</th>
                                    <th>Kierunek</th>
                                    <th>Uczelnia</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <input name="type" type="text" value="Education" hidden/>
                                    <td><input name="from" type="date"/></td>
                                    <td><input name="to" type="date"/></td>
                                    <td><input name="name" type="text"/></td>
                                    <td><input name="description" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- JĘZYKI -->
                    <h4 id="langTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-book"></span>
                        Języki
                        <nav class="count">0</nav>
                        <span id="langGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="langTable">
                        <tr>
                            <th>Język</th>
                            <th>Poziom</th>
                            <th>Usuń</th>
                        </tr>
                        <%
                            var langCount = 0;
                            if (skills.length > 0) {
                                for (s in skills) {
                                    if (skills[s].type == "Language") {
                                        langCount++;
                        %>
                                    <tr>
                                        <td><%= skills[s].name %></td>
                                        <td><%= skills[s].description %></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                                <span class="glyphicon glyphicon-remove">
                                            </button>
                                        </td>
                                    </tr>
                        <%
                                    }
                                }
                            }

                            if (langCount == 0) {
                        %>
                                <tr>
                                    <td colspan=2 style="text-align:center;font-weight:normal;">
                                        Brak informacji o językach.
                                    </td>
                                </tr>
                        <%
                            }
                        %>
                    </table>
                    <div id="cvTable" class="insertionBox langTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Język</th>
                                    <th>Poziom</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <input name="type" type="text" value="Language" hidden/>
                                    <td><input name="name" type="text"/></td>
                                    <td>
                                        <select name="description">
                                            <option>C2</option>
                                            <option>C1</option>
                                            <option>B2</option>
                                            <option>B1</option>
                                            <option>A2</option>
                                            <option>A1</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- UMIEJĘTNOŚCI -->
                    <h4 id="skillTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Umiejętności
                        <nav class="count">0</nav>
                        <span id="skillGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="skillTable">
                        <tr>
                            <th>Umiejętność</th>
                            <th>Opis</th>
                            <th>Usuń</th>
                        </tr>
                        <%
                            var skillCount = 0;
                            if (skills.length > 0) {
                                for (s in skills) {
                                    if (skills[s].type == "Skill") {
                                        skillCount++;
                        %>
                                    <tr>
                                        <td><%= skills[s].name %></td>
                                        <td><%= skills[s].description %></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                                <span class="glyphicon glyphicon-remove">
                                            </button>
                                        </td>
                                    </tr>
                        <%
                                    }
                                }
                            }

                            if (skillCount == 0) {
                        %>
                                <tr>
                                    <td colspan=3 style="text-align:center;font-weight:normal;">
                                        Brak informacji o posiadanych umiejętnościach.
                                    </td>
                                </tr>
                        <%
                            }
                        %>
                    </table>
                    <div id="cvTable" class="insertionBox skillTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Umiejętność</th>
                                    <th>Opis</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <input name="type" type="text" value="Skill" hidden/>
                                    <td><input name="name" type="text"/></td>
                                    <td><input name="description" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- KURSY, SZKOLENIA, CERTYFIKATY -->
                    <h4 id="courseTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-certificate"></span>
                        Kursy, szkolenia, certyfikaty
                        <nav class="count">0</nav>
                        <span id="courseGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="courseTable">
                        <tr>
                            <th>Typ</th>
                            <th>Zakres</th>
                            <th>Krótki opis</th>
                            <th>Usuń</th>
                        </tr>
                        <%
                            var courseCertCount = 0;
                            if (skills.length > 0) {
                                for (s in skills) {
                                    if (skills[s].type == "Course" || skills[s].type == "Certificate") {
                                        courseCertCount++;
                        %>
                                    <tr>
                                        <td><%= skills[s].type %></td>
                                        <td>
                                            <nav class="date"><%= skills[s].from %></nav>
                                            -
                                            <nav class="date"><%= skills[s].to %></nav>
                                        </td>
                                        <td><%= skills[s].description %></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                                <span class="glyphicon glyphicon-remove">
                                            </button>
                                        </td>
                                    </tr>
                        <%
                                    }
                                }
                            }

                            if (courseCertCount == 0) {
                        %>
                                <tr>
                                    <td colspan=3 style="text-align:center;font-weight:normal;">
                                        Brak informacji o ukończonych kursach
                                        i/lub zdobytych certyfikatach.
                                    </td>
                                </tr>
                        <%
                            }
                        %>
                    </table>
                    <div id="cvTable" class="insertionBox courseTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Typ</th>
                                    <th>Od</th>
                                    <th>Do</th>
                                    <th>Nazwa</th>
                                    <th>Opis</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="type">
                                            <option>Course</option>
                                            <option>Certificate</option>
                                        </select>
                                    </td>
                                    <td><input name="from" type="date"/></td>
                                    <td><input name="to" type="date"/></td>
                                    <td><input name="name" type="text"/></td>
                                    <td><input name="description" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- ZAINTERESOWANIA -->
                    <h4 id="intTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-headphones"></span>
                        Zainteresowania
                        <nav class="count">0</nav>
                        <span id="intGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="intTable">
                        <tr>
                            <th>Zainteresowanie</th>
                            <th>Usuń</th>
                        </tr>
                        <%
                            var intCount = 0;
                            if (skills.length > 0) {
                                for (s in skills) {
                                    if (skills[s].type == "Interest") {
                                        intCount++;
                        %>
                                    <tr>
                                        <td><%= skills[s].description %></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="location.replace('/skill/removeByUser/<%= skills[s].id %>/<%= user.id %>')">
                                                <span class="glyphicon glyphicon-remove">
                                            </button>
                                        </td>
                                    </tr>
                        <%
                                    }
                                }
                            }

                            if (intCount == 0) {
                        %>
                                <tr>
                                    <td colspan=3 style="text-align:center;font-weight:normal;">
                                        Brak informacji o zainteresowaniach.
                                    </td>
                                </tr>
                        <%
                            }
                        %>
                    </table>
                    <div id="cvTable" class="insertionBox intTable">
                        <form action="/skill/addByUser/<%= user.id %>" method="POST">
                            <table>
                                <tr>
                                    <th>Zainteresowanie</th>
                                    <th>Dodaj</th>
                                </tr>
                                <tr>
                                    <input name="type" type="text" value="Interest" hidden/>
                                    <td><input name="description" type="text"/></td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!-- AKTUALNA KLAUZULA ZGODNA Z RODO -->
                    <p style="font-size:smaller;font-style:italic;">
                        Wyrażam zgodę na przetwarzanie danych osobowych zawartych
                        w niniejszym dokumencie do realizacji procesu rekrutacji
                        zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych
                        osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie z
                        Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679
                        z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych
                        w związku z przetwarzaniem danych osobowych i w sprawie
                        swobodnego przepływu takich danych oraz uchylenia dyrektywy
                        95/46/WE (RODO).
                    </p>

                    <script>
                        let counters = document.getElementsByClassName("count");
                        let values = [<%= expCount %>, <%= eduCount %>, <%= langCount %>, <%= skillCount %>, <%= courseCertCount %>, <%= intCount %>];
                        const sumUp = (item, value) => { item.innerHTML = value; };
                        for (c in counters) { sumUp(counters[c], values[c]); }
                    </script>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
