<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Edytuj swój <span class="appTitle">życiorys zawodowy</span>!
                </h1>

                <div id="cvPanel">
                    <h3 style="border-bottom:1px solid silver;">
                        <span style="font-family:'Sofia';font-size:32px;">
                            Curriculum Vitae
                        </span>
                    </h3>

                    <!-- DANE PERSONALNE -->
                    <h4 id="personalTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-user"></span>
                        Dane personalne
                        <span id="personalGlyph" class="glyphicon glyphicon-chevron-down"></span>
                        <div class="info">
                            Edycja danych personalnych nie jest dostępna z poziomu CV.
                            Jeżeli chcesz dokonać ich edycji udaj się na swój profil użytkownika.
                        </div>
                    </h4>
                    <table id="cvTable" class="personalTable">
                      <tr>
                        <th>Dana</th>
                        <th>Wartość</th>
                      </tr>
                      <tr>
                        <td>Imię</td>
                        <td><%= user.first_name %></td>
                      </tr>
                      <tr>
                        <td>Nazwisko</td>
                        <td><%= user.last_name %></td>
                      </tr>
                      <tr>
                        <td>Data urodzenia</td>
                        <td><%= user.birth %></td>
                      </tr>
                      <tr>
                        <td>Telefon</td>
                        <td><%= user.phone_number %></td>
                      </tr>
                      <tr>
                        <td>E-mail</td>
                        <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                      </tr>
                      <tr>
                          <td>Adres</td>
                          <td>
                              <%= adres.street %> <%= adres.house_number %><br/>
                              <%= adres.zip_code %> <%= adres.city %> <br/>
                              <%= adres.country %>
                          </td>
                      </tr>
                    </table>

                    <!-- DOŚWIADCZENIE -->
                    <h4 id="expTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-flag"></span>
                        Doświadczenie
                        <span id="expGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="expTable">
                        <tr>
                            <th>Zakres</th>
                            <th>Stanowisko</th>
                            <th>Firma</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="2010-01-01"/><br/>
                                Do: <input type="date" value="2018-11-09"/>
                            </td>
                            <td><input type="text" value="Database Administrator" style="width:100%;"/></td>
                            <td><input type="text" value="Oracle" style="width:100%;"/></td>
                            <td>
                                <button class="delExpButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="1995-01-01"/><br/>
                                Do: <input type="date" value="2010-12-31"/>
                            </td>
                            <td><input type="text" value="Project Manager" style="width:100%;"/></td>
                            <td><input type="text" value="Microsoft" style="width:100%;"/></td>
                            <td>
                                <button class="delExpButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="1987-01-01"/><br/>
                                Do: <input type="date" value="1995-12-31"/>
                            </td>
                            <td><input type="text" value="Front-end Developer" style="width:100%;"/></td>
                            <td><input type="text" value="Intel" style="width:100%;"/></td>
                            <td>
                                <button class="delExpButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addExpButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- WYKSZTAŁCENIE -->
                    <h4 id="eduTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-education"></span>
                        Wykształcenie
                        <span id="eduGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="eduTable">
                        <tr>
                            <th>Zakres</th>
                            <th>Kierunek</th>
                            <th>Uczelnia</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="1982-10-01"/><br/>
                                Do: <input type="date" value="1987-09-30"/>
                            </td>
                            <td><input type="text" value="Informatyka" style="width:100%;"/></td>
                            <td><input type="text" value="Uniwersytet Gdański" style="width:100%;"/></td>
                            <td>
                                <button class="delEduButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addEduButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- JĘZYKI -->
                    <h4 id="langTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-book"></span>
                        Języki
                        <span id="langGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="langTable">
                        <tr>
                            <th>Język</th>
                            <th>Poziom</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td><input type="text" value="Angielski"/></td>
                            <td>
                                <select>
                                    <option value="c2">C2</option>
                                    <option value="c1">C1</option>
                                    <option value="b2" selected>B2</option>
                                    <option value="b1">B1</option>
                                    <option value="a2">A2</option>
                                    <option value="a1">A1</option>
                                </select>
                            </td>
                            <td>
                                <button class="delLangButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" value="Niemiecki"/></td>
                            <td>
                                <select>
                                    <option value="c2">C2</option>
                                    <option value="c1">C1</option>
                                    <option value="b2">B2</option>
                                    <option value="b1">B1</option>
                                    <option value="a2" selected>A2</option>
                                    <option value="a1">A1</option>
                                </select>
                            </td>
                            <td>
                                <button class="delLangButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addLangButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- UMIEJĘTNOŚCI -->
                    <h4 id="skillTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Umiejętności
                        <span id="skillGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="skillTable">
                        <tr>
                            <th>Umiejętność</th>
                            <th>Opis</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td><input type="text" value="Projektowanie aplikacji webowych"/></td>
                            <td>
                                <textarea rows="5" cols="20" style="width:100%;">Projektowanie programu komputerowego, który pracuje na serwerze i komunikuje się poprzez sieć komputerową z hostem użytkownika komputera z wykorzystaniem przeglądarki internetowej użytkownika, będącego w takim przypadku interaktywnym klientem aplikacji internetowej.</textarea>
                            </td>
                            <td>
                                <button class="delSkillButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" value="Zarządzanie projektem biznesowym"/></td>
                            <td>
                                <textarea rows="5" cols="20" style="width:100%;">Zbiór czynności wykonywanych w celu osiągnięcia wyznaczonych celów głównych i pośrednich w skończonym czasie. Zawiera się w nim między innymi inicjowanie, planowanie (w tym harmonogramowanie, budżetowanie), realizacja i kontrola zadań potrzebnych do osiągnięcia celów projektu.</textarea>
                            </td>
                            <td>
                                <button class="delSkillButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" value="Administracja bazami danych"/></td>
                            <td>
                                <textarea rows="5" cols="20" style="width:100%;">Odpowiedzialność za środowiskowy aspekt baz danych, w tym: tworzenie i testowanie kopii zapasowych, weryfikowanie lub pomoc w weryfikowaniu integralności danych, definiowanie oraz przydzielanie dostępu do danych, gwarantowanie maksymalnego czasu bezawaryjnej pracy, gwarantowanie maksymalnej wydajności dla danych ograniczeń budżetowych, pomaganie programistom i inżynierom w wydajnym wykorzystywaniu bazy danych.</textarea>
                            </td>
                            <td>
                                <button class="delSkillButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addSkillButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- KURSY, SZKOLENIA, CERTYFIKATY -->
                    <h4 id="courseTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-certificate"></span>
                        Kursy, szkolenia, certyfikaty
                        <span id="courseGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="courseTable">
                        <tr>
                            <th>Zakres</th>
                            <th>Krótki opis</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="1983-10-01"/><br/>
                                Do: <input type="date" value="1987-09-30"/>
                            </td>
                            <td>
                                <input  type="text"
                                        style="width:100%;"
                                        value="Kurs projektowania aplikacji webowych"/>
                            </td>
                            <td>
                                <button class="delCourseButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Od: <input type="date" value="1994-01-01"/><br/>
                                Do: <input type="date" value="1995-12-31"/>
                            </td>
                            <td>
                                <input  type="text"
                                        style="width:100%;"
                                        value="Szkolenie z zakresu zarządzania projektem biznesowym"/>
                            </td>
                            <td>
                                <button class="delCourseButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addCourseButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- ZAINTERESOWANIA -->
                    <h4 id="intTitle" class="cvTitle">
                        <span class="glyphicon glyphicon-headphones"></span>
                        Zainteresowania
                        <span id="intGlyph" class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <table id="cvTable" class="intTable">
                        <tr>
                            <th>Zainteresowanie</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <td style="width:100%;">
                                <input  type="text"
                                        style="width:100%;"
                                        value="Nowe technologie (szczególnie rozwój sztucznej inteligencji)"/>
                            </td>
                            <td>
                                <button class="delIntButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;">
                                <input  type="text"
                                        style="width:100%;"
                                        value="Biografie znanych wynalazców"/>
                            </td>
                            <td>
                                <button class="delIntButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;">
                                <input  type="text"
                                        style="width:100%;"
                                        value="Nauka nowych języków programowania"/>
                            </td>
                            <td>
                                <button class="delIntButton btn btn-danger"
                                        type="submit"
                                        onclick="deleteCurrentRow(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button id="addIntButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary hideMe"
                            type="submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <br/>

                    <button id="saveCVButton"
                            style="margin-top: 15px;"
                            class="btn btn-primary"
                            type="submit">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        Zapisz CV
                    </button>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
